.App {
  width: 60%;

  margin: 0 auto;
  /* background-color: blue; */
}

.App_comm_Top {
  width: 100vw;
  margin-left: -20vw;

  /* background-color: darkblue; */

  background-image: url("../public/BGPicture/pexels-nickoloui-2506947.jpg");
  background-position: center;
  background-size: cover;
}


.App_comm_Bottom {
  width: 100vw;
  margin-left: -20vw;

  /* background-color: darkslategray; */
}

.App_CommCenter{
  width: 60%;
  height: 100%;
    
  margin: 0 auto;
  background-color: antiquewhite;

  
}